 *{margin:0px;padding:0px;border:0;}
    body{
        margin:0px;
        background:#CCCCCC;
    }

    #main{
        margin:0px auto;
        padding:0px;
        height:865px;
        width:1000px;
        border: 0px;
        background:white;
        box-shadow:0px 0px 25px black;
    }
    #menu{
        font-family: 宋体;
        font-weight: bold;
        position: absolute;
        z-index: 2;
        margin:0px;
        width:1000px;
        height:32px;
        border: 0px ;
        background:linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 38%,rgba(109,0,25,1) 100%);;
    }
    #Slideshow{
        position: absolute;
        z-index: 1;
        top:32px;
        margin:0px;
        width:1000px;
        height:300px;
        border: 0px;
    }
    #content1{

        margin-top:334px;
        padding-top: 20px;
        padding-left: 10px;
        width:290px;
        height:480px;
        border: 0px;
        color: #8B0000;
        float: left;
    }
    .content1_1
    {
        border-top: #8B0000 solid;
        margin-top: 5px;
        margin-right: 10px;
        padding-top: 10px;
        padding-left: 35px;
    }
    #content1_2{
        border-top: #8B0000 solid;
        margin-top: 5px;
        margin-right: 10px;
        padding-top: 10px;
        padding-left: 35px;
    }

    #content2{
        margin-top:334px;
        padding-top: 20px;
        padding-left: 20px;
        width:374px;
        height:480px;
    
        color: #8B0000;
        float: left;

    }
    #content2 ul{
        list-style:none; 
    }
    .content2_1{
      
        padding-top: 10px;
        border-top: #8B0000 solid;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 10px

    }

    .content2_2{
      
        margin-top: 5px;
        margin-bottom: 15px

    }

    #Explanation{
        position: relative;
        left: 20%;
    }

    .block li{      

        overflow: hidden; white-space: nowrap; text-overflow: ellipsis;      
    }

    .content2_1 li{      

        overflow: hidden; white-space: nowrap; text-overflow: ellipsis;      
    }
    .content2_1_1{
        line-height: 20px;
        font-size: 13px;
        color: #4D4D4D;
        text-decoration:underline;
    }
    .content2_1_1:hover{
        line-height: 20px;
        color: red;
        text-decoration:underline;
    }

    #content3{
        margin-top:334px;
        width:300px;
        height:500px;
        border: 0px;
        float: left;
    }

    #content3_1
    {
        margin-top: 20px;
        margin-left: 40px;

    }

    form{
        border: 1px black solid; 
        width:217px;
        height:19px;
        margin-top: 10px;
        margin-left: 40px;
    }


   .QR1{
        margin-top: 20px;
        margin-left: 45px;
    }
    .QR2{
        margin-top: 20px;
        margin-left: 20px;
    }

    #sign{
        margin:0px;
        width:1000px;
        height:25px;
        border: 0px;
        float: left;
        color: white;
        background:linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 38%,rgba(109,0,25,1) 100%);
        text-align:center; 
        padding-top: 5px;
    }


/*第二种形式*/  

#tabs1{  
  
}  
  
.menu1box{  
  
 position:relative;  
  
 overflow:hidden;  
  
 height:22px;  
  
 width:400px;  
  
 text-align:left;  
  
}  
  
#menu1{  
  
 position:absolute;  
  
 top:0;  
  
 left:0;  
  
 z-index:1;  
  
}  
  
#menu1 li{  
  
 float:left;  
  
 display:block;  
  
 cursor:pointer;  
  
 width:100px;  
  
 text-align:center;  
  
 line-height:21px;  
  
 height:21px;  
  
}  
  
#menu1 li.hover{  
  
 border-left:1px solid red;   
  
 border-right:1px solid red;  
  
}  

#menu1 a{  
  
 color:#c00;  
  
 text-decoration:none;  
  
}  
  
#menu1 a:hover {  

 color: #4D4D4D;  
  
 text-decoration:underline;  
  
}  


  
.main1box{  
  
 clear:both;  
  
 margin-top:1px;  
  
 border-top: #8B0000 solid;
  
 height:120px;  
  
 width:360px;  
  
}  
.maintag{  
  
 clear:both;  
  
} 

#main1 ul{  
  
 display: none;  
  
}  
  
#main1 ul.block{  
  
 display: block;  
  padding-left: 20px;
  padding-top: 10px;
} 

#main1 .block1{  
  padding-left: 20px;
  padding-top: 10px;
} 